body, html {
    height: 100%;
}

body {
    background-color: #2B2A30 !important;
}

.welcome_page {
    background-image: url(images/oranges.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white;
    
    
}

.title h1 {
    font-size: 5vw;
    text-align: center;
    backdrop-filter: blur(9px) grayscale(1);
}

.down_arrow {
    font-size: 20px;
    color: white;
}

.diet_choice {
    height: 100%;
    
}

.card {
    max-width: fit-content;
}

.card img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.main_page {
    height: 100%;
}