body, html {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: #2B2A30 !important;
}
.section1 {
    height: 100%;
}
.welcome_page {
    background-image: url(images/oranges.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white;    
}

.title h1 {
    font-size: 5vw;
    text-align: center;
    backdrop-filter: blur(8px);
    padding: 10px 0px;
}

.arrowButton {
    position: absolute;
    bottom: 8px;
    left: 50%;
}

.down_arrow {
    font-size: 20px;
    color: white;
    border: none;
}

 

.diet_heading {
    text-align: center;
    color: white;
    padding: 30px;
}

.dietary_options card {
    max-width: fit-content;
}

.card img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.body {
    text-align: center;
    padding: 10px 0;
}

.main_page {
    height: 100%;
  
}

/* scroll effect from https://stackoverflow.com/questions/49818715/scrollable-card-bootstrap*/
.scroll {
    max-height: 200px;
    overflow-y: auto;
}

.calendar {
    background-color: white;
}