body, html {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: #002b3d !important;
    font-family: 'Gothic A1', sans-serif;
    color: whitesmoke;
}
.section1 {
    height: 100%;
}

a {
    color: whitesmoke !important;
    text-decoration: inherit;
    
}

a :hover {
    opacity: 0.5;
}

.welcome_page {
    background-image: url(images/oranges.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    color: white;    
}

.title h1 {
    font-size: 5vw;
    text-align: center;
    backdrop-filter: blur(8px);
    padding: 10px 0px;
}

.arrowButton {
    position: absolute;
    bottom: 8px;
    left: 50%;
}

.downArrow {
    font-size: x-large;
    color: whitesmoke;
    border: none;
}

.section2 {
    background-image: url(images/oranges-blue.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.dChoice {
    height: 50px;
    position: absolute;
    top: 105%;
    width: 95%;
    background-color: rgba(214, 243, 255, 0.5);
    color: white;
    
}

.card-deck {
    width: 95% !important;
    left: 2.5%;
    bottom: -50%;
    position: absolute;
}

.card-header {
    background-color: #e96a20!important;
    text-align: center;
    font-weight: 600;
    color: whitesmoke;
}

.card {
    background-color: rgba(246, 191, 162, 0.5) !important;
    color: whitesmoke;
}

.table {
    left: 10%;
    bottom: -98%;
    position: absolute;
    width: 80% !important;
}


.calendar {
    background-color: rgba(214, 243, 255, 0.5);
    padding: 20px;
}

th, td {
    border-top: none !important;
    color: whitesmoke;
}

ul {
    list-style-type: none;
}

.list-group {
    max-height: 300px;
    overflow-y: scroll ;
}

input {
    background-color: rgba(252, 253, 255,0.5);
    width: 100%;
}


@media only screen  and (min-width: 1224px) {
    .card-deck {
        margin-top: 100px;
    }
}


@media only screen and (max-width: 1024px){
    .card img {
        height: 150px;
    }
}